{%extends "header.html"%}
{%block main%}
<p align = center style=color:blue;>Cumulative score: {{cum}}  Average : {{avg}}</p>
<div align=center>
    {%block table%}
    <table border=1px solid #FF0000; id='qtable'>
        <thead>
            <tr>
                <th scope="col">Question</th>
                <th scope="col">Answer</th>
                <th scope="col">Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%endblock table%}

{%endblock main%}
