async-timeout==4.0.2
click==8.1.3
colorama==0.4.5
Deprecated==1.2.13
Flask==2.1.3
flask-sock==0.5.2
h11==0.13.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
nltk==3.7
packaging==21.3
pyodbc==4.0.34
pyparsing==3.0.9
redis==4.3.4
regex==2022.7.25
simple-websocket==0.8.0
tqdm==4.64.0
Turbo-Flask==0.8.0
Werkzeug==2.2.0
wrapt==1.14.1
wsproto==1.1.0